 * {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

 .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            background-color: #ECF3FF;
        }
        
.left-box, .right-box {
    flex: 1;
}    
.form-div {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
    margin-top: -140px;
    margin-left: 100px;
}
.login-btn{
    background-color: rgb(87, 87, 241);
    color:white;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px; ;
}
.input-cls{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}   
.create-btn{
    background-color: #4CAF50;
    color:white;
    width: 60%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.child-leftbox{
    margin-top: -200px;
    margin-left: 300px;
}
.child-right{
    margin-top: 80px;
    margin-left: 150px;
}
.create-page{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.create-page:hover{
    text-decoration: underline;
}